[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Lmoments"]
	path = Lmoments
	url = https://github.com/cran/Lmoments
[submodule "PearsonICA"]
	path = PearsonICA
	url = https://github.com/cran/PearsonICA
[submodule "R6causal"]
	path = R6causal
	url = https://github.com/cran/R6causal
