[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "Lmoments"]
	path = Lmoments
	url = https://github.com/cran/Lmoments
	shallow = true
	registered = true
[submodule "PearsonICA"]
	path = PearsonICA
	url = https://github.com/cran/PearsonICA
	shallow = true
	registered = true
[submodule "R6causal"]
	path = R6causal
	url = https://github.com/cran/R6causal
	shallow = true
	registered = true
